.thing {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkslateblue;
}

.imgContainer {
  height: 200px;
  overflow: hidden;
  border-bottom: 2px solid darkslateblue;
}

.thingImg {
  width: 200px;
  filter: sepia(200%);
}